@import 'reset';
@import 'logo';

body {
    max-width: 500px;
    margin: 0 auto;
    background-color: #FFF;
}

.header {
    height: 100px;
}


.line-1 {
    height: 1px;
    background-color: green;
}